.container{
    width: 700px;
    margin: 0 auto;
  position: relative;
}
#myTable{
    border: 1px solid #949494;
    vertical-align: middle;
    margin: 35px auto;
}

/* #myTable td{

} */

.item{
    background: #3648f0;
    color: #f5fff2;
    border: 2px solid #295694;
    font: 30px Arial, Verdana, sans-serif;
    height: 70px;
    line-height: 70px;
    width: 70px;
    text-align: center;
    cursor: pointer;
}
td{
    border: 1px solid transparent;
}
td.over {
    border: 1px dashed #ccc;
}

/* #myCanvas{
  position: absolute;
  top: 200px;
} */